@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

* {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
